---
# tasks file for roles/os-start
#- name: Patch Server
#  package:
#    name: '*'
#    state: latest

- name: Install common tools
  yum: 
    name: "{{ packages }}"
  vars:
    packages:
    - wget
    - net-tools
